<pre>
  Date Box sử dụng Primeng
  Cài đặt Primeng
  npm install primeng --save
  npm install primeicons --save

  Number box sử dụng Directive "ngx-cleave-directive"
  Install cleave.js and ngx-cleave-directive
  npm i -S cleave.js ngx-cleave-directive  

  Menu sử dụng Angular Material: Angular Material hỗ trợ vị trí xuất hiện của Submenu, tự Scroll nếu menu dài
  cài đặt Angular Material: 
  ng add @angular/material --> Choose a prebuilt theme name, or "custom" for a custom theme: (Chọn Custom) 
  --> Set up HammerJS for gesture recognition? (Chọn Yes)
  --> Set up browser animations for Angular Material? (Chọn Yes)

  Chú ý chung: Sử dụng [(ngModel)] phải import FormsModule
</pre>